Not handling large headers

test from iij-http2

```
i= 0
LOG: undefined Thu Oct 10 2013 06:33:36 GMT+0900 (JST) new Connection http_client http_client
LOG: undefined Thu Oct 10 2013 06:33:36 GMT+0900 (JST) sendSETTINGS {"length":16,"type":4,"flags":0,"stream_id":0,"setting_block":{"SETTINGS_MAX_CONCURRENT_STREAMS":100,"SETTINGS_INITIAL_WINDOW_SIZE":65536}} http_client
HPACK 28601: Context.encode, IndexedHeader index: 4
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: :path , value: /index.html
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: :host , value: http2katanatest.cloudapp.net:8443
HPACK 28601: Context.encode, IndexedHeader index: 0
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_0_0 , value: 
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_0_1 , value: a
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_0_2 , value: aa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_0_3 , value: aaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_0_4 , value: aaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_0_5 , value: aaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_0_6 , value: aaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_0_7 , value: aaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_0_8 , value: aaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_0_9 , value: aaaaaaaaa
LOG: undefined Thu Oct 10 2013 06:33:36 GMT+0900 (JST) sendHEADERS {"length":245,"type":1,"flags":5,"stream_id":1} http_client
i= 1
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_1_0 , value: aaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_1_1 , value: aaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_1_2 , value: aaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_1_3 , value: aaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_1_4 , value: aaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_1_5 , value: aaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_1_6 , value: aaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_1_7 , value: aaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_1_8 , value: aaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_1_9 , value: aaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 32
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 33
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 34
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 35
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 36
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 37
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 38
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 39
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 40
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 41
LOG: undefined Thu Oct 10 2013 06:33:36 GMT+0900 (JST) sendHEADERS {"length":305,"type":1,"flags":5,"stream_id":3} http_client
i= 2
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_2_0 , value: aaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_2_1 , value: aaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_2_2 , value: aaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_2_3 , value: aaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_2_4 , value: aaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_2_5 , value: aaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_2_6 , value: aaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_2_7 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_2_8 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_2_9 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 42
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 43
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 44
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 45
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 46
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 47
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 48
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 49
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 50
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 51
LOG: undefined Thu Oct 10 2013 06:33:36 GMT+0900 (JST) sendHEADERS {"length":405,"type":1,"flags":5,"stream_id":5} http_client
i= 3
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_3_0 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_3_1 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_3_2 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_3_3 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_3_4 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_3_5 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_3_6 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_3_7 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_3_8 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_3_9 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 52
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 53
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 54
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 55
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 56
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 57
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 58
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 59
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 60
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 61
LOG: undefined Thu Oct 10 2013 06:33:36 GMT+0900 (JST) sendHEADERS {"length":505,"type":1,"flags":5,"stream_id":7} http_client
i= 4
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_4_0 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_4_1 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":":scheme","value":"http","ref_set":true,"flag":"common-header","orig_index":0}
HPACK 28601: Context.encode, 2 x IndexedHeader index for eviction: 0
HPACK 28601: evicted {"name":":scheme","value":"https","ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_4_2 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":":host","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":":path","value":"/","ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: evicted {"name":":method","value":"GET","ref_set":true,"flag":"common-header","orig_index":2}
HPACK 28601: Context.encode, 2 x IndexedHeader index for eviction: 2
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_4_3 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"accept","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"accept-charset","value":null,"ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_4_4 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"accept-encoding","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"accept-language","value":null,"ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_4_5 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"cookie","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"if-modified-since","value":null,"ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_4_6 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"user-agent","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"referer","value":null,"ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_4_7 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"authorization","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"allow","value":null,"ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_4_8 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"cache-control","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"connection","value":null,"ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_4_9 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 45
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 46
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 47
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 48
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 49
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 50
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 51
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 52
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 53
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 54
LOG: undefined Thu Oct 10 2013 06:33:37 GMT+0900 (JST) sendHEADERS {"length":609,"type":1,"flags":5,"stream_id":9} http_client
i= 5
HPACK 28601: evicted {"name":"content-length","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: :method , value: GET
HPACK 28601: evicted {"name":"content-type","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: :scheme , value: http
HPACK 28601: evicted {"name":"date","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"expect","value":null,"ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: evicted {"name":"from","value":null,"ref_set":false,"flag":null,"orig_index":2}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_5_0 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"if-match","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"if-none-match","value":null,"ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_5_1 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"if-range","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"if-unmodified-since","value":null,"ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_5_2 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"max-forwards","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"proxy-authorization","value":null,"ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_5_3 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"range","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"via","value":null,"ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: evicted {"name":":path","value":"/index.html","ref_set":true,"flag":"common-header","orig_index":2}
HPACK 28601: Context.encode, 2 x IndexedHeader index for eviction: 2
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_5_4 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":":host","value":"http2katanatest.cloudapp.net:8443","ref_set":true,"flag":"common-header","orig_index":0}
HPACK 28601: Context.encode, 2 x IndexedHeader index for eviction: 0
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_5_5 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"myheader_0_0","value":"","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"myheader_0_1","value":"a","ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: evicted {"name":"myheader_0_2","value":"aa","ref_set":false,"flag":null,"orig_index":2}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_5_6 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"myheader_0_3","value":"aaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"myheader_0_4","value":"aaaa","ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_5_7 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"myheader_0_5","value":"aaaaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"myheader_0_6","value":"aaaaaa","ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_5_8 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"myheader_0_7","value":"aaaaaaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"myheader_0_8","value":"aaaaaaaa","ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_5_9 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 31
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 32
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 33
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 34
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 35
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 36
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 37
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 38
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 39
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 40
LOG: undefined Thu Oct 10 2013 06:33:37 GMT+0900 (JST) sendHEADERS {"length":736,"type":1,"flags":5,"stream_id":11} http_client
i= 6
HPACK 28601: evicted {"name":"myheader_0_9","value":"aaaaaaaaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: :path , value: /index.html
HPACK 28601: evicted {"name":"myheader_1_0","value":"aaaaaaaaaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: :host , value: http2katanatest.cloudapp.net:8443
HPACK 28601: evicted {"name":"myheader_1_1","value":"aaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"myheader_1_2","value":"aaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_6_0 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"myheader_1_3","value":"aaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"myheader_1_4","value":"aaaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_6_1 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"myheader_1_5","value":"aaaaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"myheader_1_6","value":"aaaaaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_6_2 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"myheader_1_7","value":"aaaaaaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_6_3 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"myheader_1_8","value":"aaaaaaaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"myheader_1_9","value":"aaaaaaaaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_6_4 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"myheader_2_0","value":"aaaaaaaaaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"myheader_2_1","value":"aaaaaaaaaaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_6_5 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"myheader_2_2","value":"aaaaaaaaaaaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"myheader_2_3","value":"aaaaaaaaaaaaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_6_6 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"myheader_2_4","value":"aaaaaaaaaaaaaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_6_7 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"myheader_2_5","value":"aaaaaaaaaaaaaaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":"myheader_2_6","value":"aaaaaaaaaaaaaaaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_6_8 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: evicted {"name":"myheader_2_7","value":"aaaaaaaaaaaaaaaaaaaaaaaaaaa","ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_6_9 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 24
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 25
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 26
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 27
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 28
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 29
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 30
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 31
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 32
HPACK 28601: Context.encode, IndexedHeader to remove from reference set. index: 33
LOG: undefined Thu Oct 10 2013 06:33:37 GMT+0900 (JST) sendHEADERS {"length":865,"type":1,"flags":5,"stream_id":13} http_client
i= 7
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:38 GMT+0900 (JST) OnFrameHeader {"length":8,"type":4,"flags":0,"stream_id":0} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:38 GMT+0900 (JST) OnSETTINGS {"length":8,"type":4,"flags":0,"stream_id":0,"setting_block":{"SETTINGS_INITIAL_WINDOW_SIZE":16383}} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:38 GMT+0900 (JST) OnFrameHeader {"length":71,"type":1,"flags":12,"stream_id":1} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:38 GMT+0900 (JST) OnHEADERS {"length":71,"type":1,"flags":12,"stream_id":1,"priority":1073741824} http_client
HPACK 28601: Decoder.parse, IndexedHeader index: 0
HPACK 28601: Header Set Emission: {"name":":status","value":"200","ref_set":false,"flag":null}
HPACK 28601: Decoder.parse, LiteralHeaderWithIncrementalIndexing(Indexed Name) name: content-type , value: text/html
HPACK 28601: Header Set Emission: {"name":"content-type","value":"text/html","ref_set":false,"flag":null}
HPACK 28601: Decoder.parse, LiteralHeaderWithIncrementalIndexing(Indexed Name) name: last-modified , value: wed, 09 oct 2013 17:15:22 gmt
HPACK 28601: Header Set Emission: {"name":"last-modified","value":"wed, 09 oct 2013 17:15:22 gmt","ref_set":false,"flag":null}
HPACK 28601: Decoder.parse, LiteralHeaderWithIncrementalIndexing(Indexed Name) name: etag , value: "1cec51323284124"
HPACK 28601: Header Set Emission: {"name":"etag","value":"\"1cec51323284124\"","ref_set":false,"flag":null}
HPACK 28601: Decoder.parse, LiteralHeaderWithIncrementalIndexing(Indexed Name) name: content-length , value: 160
HPACK 28601: Header Set Emission: {"name":"content-length","value":"160","ref_set":false,"flag":null}
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:38 GMT+0900 (JST) emitIncoming {":status":"200","content-type":"text/html","last-modified":"wed, 09 oct 2013 17:15:22 gmt","etag":"\"1cec51323284124\"","content-length":"160"} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:38 GMT+0900 (JST) OnFrameHeader {"length":160,"type":0,"flags":1,"stream_id":1} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:38 GMT+0900 (JST) OnDATA {"length":160,"type":0,"flags":1,"stream_id":1} http_client
{ ':status': '200',
  'content-type': 'text/html',
  'last-modified': 'wed, 09 oct 2013 17:15:22 gmt',
  etag: '"1cec51323284124"',
  'content-length': '160' }
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnFrameHeader {"length":4,"type":1,"flags":12,"stream_id":3} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnHEADERS {"length":4,"type":1,"flags":12,"stream_id":3,"priority":1073741824} http_client
HPACK 28601: Header Set Emission: {"name":":status","value":"200","ref_set":true,"flag":null,"index":0}
HPACK 28601: Header Set Emission: {"name":"content-type","value":"text/html","ref_set":true,"flag":null,"index":30}
HPACK 28601: Header Set Emission: {"name":"last-modified","value":"wed, 09 oct 2013 17:15:22 gmt","ref_set":true,"flag":null,"index":31}
HPACK 28601: Header Set Emission: {"name":"etag","value":"\"1cec51323284124\"","ref_set":true,"flag":null,"index":32}
HPACK 28601: Header Set Emission: {"name":"content-length","value":"160","ref_set":true,"flag":null,"index":33}
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) emitIncoming {":status":"200","content-type":"text/html","last-modified":"wed, 09 oct 2013 17:15:22 gmt","etag":"\"1cec51323284124\"","content-length":"160"} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnFrameHeader {"length":160,"type":0,"flags":1,"stream_id":3} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnDATA {"length":160,"type":0,"flags":1,"stream_id":3} http_client
{ ':status': '200',
  'content-type': 'text/html',
  'last-modified': 'wed, 09 oct 2013 17:15:22 gmt',
  etag: '"1cec51323284124"',
  'content-length': '160' }
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnFrameHeader {"length":4,"type":1,"flags":12,"stream_id":5} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnHEADERS {"length":4,"type":1,"flags":12,"stream_id":5,"priority":1073741824} http_client
HPACK 28601: Header Set Emission: {"name":":status","value":"200","ref_set":true,"flag":null,"index":0}
HPACK 28601: Header Set Emission: {"name":"content-type","value":"text/html","ref_set":true,"flag":null,"index":30}
HPACK 28601: Header Set Emission: {"name":"last-modified","value":"wed, 09 oct 2013 17:15:22 gmt","ref_set":true,"flag":null,"index":31}
HPACK 28601: Header Set Emission: {"name":"etag","value":"\"1cec51323284124\"","ref_set":true,"flag":null,"index":32}
HPACK 28601: Header Set Emission: {"name":"content-length","value":"160","ref_set":true,"flag":null,"index":33}
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) emitIncoming {":status":"200","content-type":"text/html","last-modified":"wed, 09 oct 2013 17:15:22 gmt","etag":"\"1cec51323284124\"","content-length":"160"} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnFrameHeader {"length":160,"type":0,"flags":1,"stream_id":5} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnDATA {"length":160,"type":0,"flags":1,"stream_id":5} http_client
{ ':status': '200',
  'content-type': 'text/html',
  'last-modified': 'wed, 09 oct 2013 17:15:22 gmt',
  etag: '"1cec51323284124"',
  'content-length': '160' }
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnFrameHeader {"length":4,"type":1,"flags":12,"stream_id":7} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnHEADERS {"length":4,"type":1,"flags":12,"stream_id":7,"priority":1073741824} http_client
HPACK 28601: Header Set Emission: {"name":":status","value":"200","ref_set":true,"flag":null,"index":0}
HPACK 28601: Header Set Emission: {"name":"content-type","value":"text/html","ref_set":true,"flag":null,"index":30}
HPACK 28601: Header Set Emission: {"name":"last-modified","value":"wed, 09 oct 2013 17:15:22 gmt","ref_set":true,"flag":null,"index":31}
HPACK 28601: Header Set Emission: {"name":"etag","value":"\"1cec51323284124\"","ref_set":true,"flag":null,"index":32}
HPACK 28601: Header Set Emission: {"name":"content-length","value":"160","ref_set":true,"flag":null,"index":33}
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) emitIncoming {":status":"200","content-type":"text/html","last-modified":"wed, 09 oct 2013 17:15:22 gmt","etag":"\"1cec51323284124\"","content-length":"160"} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnFrameHeader {"length":160,"type":0,"flags":1,"stream_id":7} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnDATA {"length":160,"type":0,"flags":1,"stream_id":7} http_client
{ ':status': '200',
  'content-type': 'text/html',
  'last-modified': 'wed, 09 oct 2013 17:15:22 gmt',
  etag: '"1cec51323284124"',
  'content-length': '160' }
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnFrameHeader {"length":4,"type":1,"flags":12,"stream_id":9} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnHEADERS {"length":4,"type":1,"flags":12,"stream_id":9,"priority":1073741824} http_client
HPACK 28601: Header Set Emission: {"name":":status","value":"200","ref_set":true,"flag":null,"index":0}
HPACK 28601: Header Set Emission: {"name":"content-type","value":"text/html","ref_set":true,"flag":null,"index":30}
HPACK 28601: Header Set Emission: {"name":"last-modified","value":"wed, 09 oct 2013 17:15:22 gmt","ref_set":true,"flag":null,"index":31}
HPACK 28601: Header Set Emission: {"name":"etag","value":"\"1cec51323284124\"","ref_set":true,"flag":null,"index":32}
HPACK 28601: Header Set Emission: {"name":"content-length","value":"160","ref_set":true,"flag":null,"index":33}
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) emitIncoming {":status":"200","content-type":"text/html","last-modified":"wed, 09 oct 2013 17:15:22 gmt","etag":"\"1cec51323284124\"","content-length":"160"} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnFrameHeader {"length":160,"type":0,"flags":1,"stream_id":9} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnDATA {"length":160,"type":0,"flags":1,"stream_id":9} http_client
{ ':status': '200',
  'content-type': 'text/html',
  'last-modified': 'wed, 09 oct 2013 17:15:22 gmt',
  etag: '"1cec51323284124"',
  'content-length': '160' }
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnFrameHeader {"length":4,"type":3,"flags":0,"stream_id":11} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnRST_STREAM {"length":4,"type":3,"flags":0,"stream_id":11,"error_code":1} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnFrameHeader {"length":4,"type":3,"flags":0,"stream_id":13} http_client
LOG: 168.63.18.174 Thu Oct 10 2013 06:33:39 GMT+0900 (JST) OnRST_STREAM {"length":4,"type":3,"flags":0,"stream_id":13,"error_code":1} http_client
```


I've reproduced this situation.
As far as I can see, you got RST with code 1 (Protocol_error) because of missing one or more headers:

:method
:host
:path
:scheme 

They are evicted when i == 4:
HPACK 28601: evicted {"name":":scheme","value":"http","ref_set":true,"flag":"common-header","orig_index":0}
HPACK 28601: evicted {"name":":host","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 28601: evicted {"name":":path","value":"/","ref_set":false,"flag":null,"orig_index":1}
HPACK 28601: evicted {"name":":method","value":"GET","ref_set":true,"flag":"common-header","orig_index":2}

See spec in 8.1.2.1
8.1.2.1.  Request Header Fields

   HTTP/2.0 defines a number of headers starting with a ':' character
   that carry information about the request target:

   o  The ":method" header field includes the HTTP method ([HTTP-p2],
      Section 4).

   o  The ":scheme" header field includes the scheme portion of the
      target URI ([RFC3986], Section 3.1).

   o  The ":host" header field includes the authority portion of the
      target URI ([RFC3986], Section 3.2).

   o  The ":path" header field includes the path and query parts of the
      target URI (the "path-absolute" production from [RFC3986] and
      optionally a '?' character followed by the "query" production, see
      [RFC3986], Section 3.3 and [RFC3986], Section 3.4).  This field
      MUST NOT be empty; URIs that do not contain a path component MUST
      include a value of '/', unless the request is an OPTIONS request
      for '_', in which case the ":path" header field MUST include '_'.

   All HTTP/2.0 requests MUST include exactly one valid value for all of
   these header fields.  An intermediary MUST ensure that requests that
   it forwards are correct.  A server MUST treat the absence of any of
   these header fields, presence of multiple values, or an invalid value
   as a stream error (Section 5.4.2) of type PROTOCOL_ERROR.

Please correct me if I'm wrong.


I've checked by seeing the logs  line by line and explain it in i=4 case below.
- :scheme

```
HPACK 28601: evicted {"name":":scheme","value":"http","ref_set":true,"flag":"common-header","orig_index":0}
```

:scheme was to be evicted so that it was encoded 2xIndexedHeader to get from reference set into the current table as written 

```
HPACK 28601: Context.encode, 2 x IndexedHeader index for eviction: 0
```
- :host

```
HPACK 28601: evicted {"name":":host","value":null,"ref_set":false,"flag":null,"orig_index":0}
```

This :host is evicted but it's value was null which is no longer used. another :host of http2katanatest.cloudapp.net:8443  is still in the table by incremental indexing i=0
- :path

```
HPACK 28601: evicted {"name":":path","value":"/","ref_set":false,"flag":null,"orig_index":1}
```

:path is the same as :host. This entry is no longer used. A new indexed entry of :host was introduced in i=0
- :method

```
HPACK 28601: evicted {"name":":method","value":"GET","ref_set":true,"flag":"common-header","orig_index":2}
```

This :method is the same as :scheme. It is encoded 2 x IndexedHeader.

From the above, all 4 colon headers seems to exists in the current header set. Please correct me if I'm wrong.


I have couple of questions:
1) When i == 4 my headers table has size  == 1904 before compression and == 2509 after compression. 
My SETTINGS_HEADER_TABLE_SIZE is 4096 (default). 
Are these sizes correct? (Do you have the same ones?)

You send settings frame that does not contain SETTINGS_HEADER_TABLE_SIZE option.

 LOG: undefined Thu Oct 10 2013 06:33:36 GMT+0900 (JST) sendSETTINGS {"length":16,"type":4,"flags":0,"stream_id":0,"setting_block":{"SETTINGS_MAX_CONCURRENT_STREAMS":100,"SETTINGS_INITIAL_WINDOW_SIZE":65536}} http_client

I could not find any explanation (http://tools.ietf.org/html/draft-ietf-httpbis-header-compression-03)
of removing headers from the headers table except of excessing SETTINGS_HEADER_TABLE_SIZE limit. 
Hence (1904 < 4096 and 2509 < 4096) my impl does not evict (remove?) any headers when i == 4. 
It just adds them into headers table. 
Your impl removes (evicts?) something about 15 or 16 headers (from :scheme to connection) on this step.
Could you clarify why this happens?

2) As far as I can see, you send :path, :scheme, :host, :method only when i == 0. Is that correct?
3) I didn't get what do you mean by
   Context.encode, 2 x IndexedHeader index for eviction: 0

   Can you please clarify this?


I reply each questions below.

1) My SETTINGS_HEADER_TABLE_SIZE  is the same as default (4096).
I've just tested again with a debug log of header table and entry size to be outputed. You can see that at the first eviction, my header table was 4089 and insert entry of which size was 86 in i=4 so that the size overflow has occurred. All the following evictions are caused by overflowing 4096bytes.
If the size is different, there seems some inconsistencies in the header table between my header table and yours.

```
i= 4
HPACK 3928: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_4_0 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 3928: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_4_1 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 3928: A entry to be evicted due to size overflow. Header Table Size: 4089 , entry size: 86
HPACK 3928: evicted {"name":":scheme","value":"http","ref_set":true,"flag":"common-header","orig_index":0}
HPACK 3928: Context.encode, 2 x IndexedHeader index for eviction: 0
HPACK 3928: A entry to be evicted due to size overflow. Header Table Size: 4046 , entry size: 86
HPACK 3928: evicted {"name":":scheme","value":"https","ref_set":false,"flag":null,"orig_index":1}
HPACK 3928: Context.encode, literalHeaderWithIncrementalIndexing name: myheader_4_2 , value: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
HPACK 3928: A entry to be evicted due to size overflow. Header Table Size: 4088 , entry size: 87
HPACK 3928: evicted {"name":":host","value":null,"ref_set":false,"flag":null,"orig_index":0}
HPACK 3928: A entry to be evicted due to size overflow. Header Table Size: 4051 , entry size: 87
HPACK 3928: evicted {"name":":path","value":"/","ref_set":false,"flag":null,"orig_index":1}
HPACK 3928: A entry to be evicted due to size overflow. Header Table Size: 4013 , entry size: 87
HPACK 3928: evicted {"name":":method","value":"GET","ref_set":true,"flag":"common-header","orig_index":2}
HPACK 3928: Context.encode, 2 x IndexedHeader index for eviction: 2
```

2) Yes, I've just  add a new header of `myheader_?_?`  with increasing its value size. These header are unchanged so that they have been left in the reference set since i=0.

3) When two Indexed header representations to be evicted are inserted just before eviction, the entry is removed the reference set and inserted into the reference set again. Then the entry is emitted into the current header set even if it is evicted from the header table.  This is a technique to avoid that the indexed header  have an effect of eviction.


I've just found the cause of the issue in  http://lists.w3.org/Archives/Public/ietf-http-wg/2013OctDec/0192.html 
My encoder used 0-bit prefix as Firefox did. The issue is resolved after changing 8-bit prefix and all requests are completed fine. It's a long time to be wasted in debugging HPACK. Sigh..
Please close this.
